* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    font-family: Arial;
  }
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
.grid {
    
    padding:  0.4px;
  }
img{
    margin:0;
  height: 100%;
  width: 9.5vw;
  flex-wrap: wrap;
}
